.Content {
    width: 100%;
    max-width: 700px;
    display: table;
    margin: 10% auto 0;
}

.Content > .Header > .Layer {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    background-color: rgb(0 0 0 / 59%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Content > .Body {
    background-color: #ab0707;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Content > .Body .Events{
    padding: 0;
    display: table;
    width: 100%;
    list-style-type: none;
    margin: 0;
}

.Content > .Body .Events li{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.Content > .Body .Events li > .Event {
    width: 100%;
}

.Content > .Body .Events li > .Time,
.Content > .Body .Events li > .Action{
    text-align: right;
    width: 20%;
}

.Action {
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.Content > .Body > .AddEvent {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.Content > .Body > .AddEvent form {
    width: 100%;
    display: flex;
}
.Content > .Body > .AddEvent input[type="text"] {
    display: block;
    font-size: 17px;
    padding: 5px;
    color: #d02d2d;
}
.eventFiled{
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #ddd;
}
.eventTime{
    width: 30%;
    border: 1px solid #970000;
    border-left: none;
    border-right: none;
}
.Content > .Body > .AddEvent .submitBtn {
    width: 2%;
    border-left: none;
    border-top: 1px solid #941c1c;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #dddddd;
    cursor: pointer;
}

body {
    background-color: #b41a1a;
    color: rgb(206, 29, 29);
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

input[type="text"], button { 
    outline: none;
}